.paragraph {
    color: blue;
}

h1{
    color: red;
    text-align: center;
}

img {
    width: 120px;
    height: 150px;
    padding-left: 600px;
}
li {
    /*text-align: center;*/
    padding-left: 570px;
    list-style-type: none;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: purple;
    text-align: center;
}

h4 {
    color: green;
    text-align: center;
}

/*Body {
    background-color: red;
}*/

Body {
    background: url("http://i2.cdn.cnn.com/cnnnext/dam/assets/161021133655-img-worlds-velociraptor-super-169.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
