* {
  font-size: 0px;
  box-sizing: border-box;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.box1 {
  height: 100px;
  width: 100%;
  background-color: #F5C6D6;
  display: relative;
}

.box2 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #EE2E84;
  top: 100px;
}

.box3 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #EE2E84;
}

.box4 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #EE2E84;
}

.box5 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #EE2E84;
}

.box6 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #85CFD8;
}

.box7 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #85CFD8;
}

.box8 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #8DC63F;
}

.box9 {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #E76E34;
}


@media (max-width: 768px) {
  .blue {
    height: 100px;
    width: 100%;
    display: inline-flex;
  }
}


@media only screen and (max-width: 500px){
  body {
    background-color: blue;
  }
}

@media (max-width: 768px) {
 .both {
    height: 100px;
    width: 100%;
    display: inline-flex;
  }
.box9 {
  height: 100px;
  width: 25%;
  display: inline-block;
  background-color: #E76E34;
}

}

@media (max-width: 768px) {
  .pink {
  height: 100px;
  width: 100%;
  display: inline-flex;
  }
}

@media only screen and (max-width: 500px){
  body {
    background-color: blue;
  }
}

body {
  background-color: red;
}
body {
  background-color: red;
}

@media only screen and (max-width: 500px){
  body {
    background-color: blue;
  }
}

/*@media (max-width: 768px) {
  .green {
    height: 100px;
    width: 75%;
    display: inline-flex;
  }
  .box9 {
    height: 100px;
    width: 25%;
    display: fixed;
    background-color: #E76E34;
    right: 0px;
    top: -100px;
  }
}*/

/*@media (max-width: 768px) {
  .orange {
    height: 100px;
    width: 25%;
    display: inline-flex;
  }
}*/
